<div id="<%= dom_id item %>">
  <div class="item-content">
    <div class="item-content-name">
      <%#= item.name %>
      Predstavljanje kandidacijskih lista i sučeljavanje za izbor općinskog vijeća
    </div>
    <div class="item-content-amount">
      <%#= sprintf('%.2f', item.amount) %> <!--€-->
      8,888.88 €
    </div>
    <div class="item-content-category">
      <%= item.categories.map(&:name).join(", ") %>
    </div>
    <div class="item-content-paymentType">
      <%#= item.payment_type.name %>
      Prijenos na Revolut
    </div>
    <div class="item-content-eventDate-text">
      Datum događaja:
    </div>
    <div class="item-content-eventDate">
      <%= item.event_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
    <div class="item-content-paymentDate-text">
      Datum plaćanja:
    </div>
    <div class="item-content-paymentDate">
      <%= item.payment_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
  </div>
</div>
