/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.select2-category-select {
	padding: .375rem 2.25rem .375rem .75rem !important;
	border: 1px solid #ced4da !important;
}

.items-container {
    margin-bottom: 7rem;
}

.item-content {
    height: 15rem;
    padding: 1rem;
    margin: 0.8rem 1rem;
    border-radius: 1.5rem;
    background-color: #f6f6f6;
    color: black;
    display: grid;
    grid-template-rows: 17% 17% 17% 17% 16% 16%;
    grid-template-columns: 40% 10% 15% 35%;
}

.item-content-Prihod {
    height: 15rem;
    padding: 1rem;
    margin: 0.8rem 1rem;
    border-radius: 1.5rem;
    background-color: #f1fff4;
    color: black;
    display: grid;
    grid-template-rows: 17% 17% 17% 17% 16% 16%;
    grid-template-columns: 40% 10% 15% 35%;
}

.item-content-Rashod {
    height: 15rem;
    padding: 1rem;
    margin: 0.8rem 1rem;
    border-radius: 1.5rem;
    background-color: #fff6f6;
    color: black;
    display: grid;
    grid-template-rows: 17% 17% 17% 17% 16% 16%;
    grid-template-columns: 40% 10% 15% 35%;
}

.item-content-Prijenos {
    height: 15rem;
    padding: 1rem;
    margin: 0.8rem 1rem;
    border-radius: 1.5rem;
    background-color: #f6f6f6;
    color: black;
    display: grid;
    grid-template-rows: 17% 17% 17% 17% 16% 16%;
    grid-template-columns: 40% 10% 15% 35%;
}

.item-content-category {
    /* border: 1px solid red; */
    grid-row: 1/4;
    grid-column: 1/4;
}

.item-content-edit-img {
    /* border: 1px solid red; */
    font-size: 1.2rem;
    text-align: right;
}

.item-content-edit-img > .fa:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px 6px;
}

.item-content-paymentType {
    /* border: 1px solid red; */
    grid-row: 2/4;
    grid-column: 4/5;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
    font-weight: 200;
    align-self: self-start;
}

.item-content-amount-Prijenos {
    /* border: 1px solid red; */
    grid-row: 3/4;
    grid-column: 4/5;
    font-weight: bold;
    text-align: right;
    align-self: self-end;
}   

.item-content-amount-Prihod {
    /* border: 1px solid red; */
    grid-row: 3/4;
    grid-column: 4/5;
    font-weight: bold;
    text-align: right;
    align-self: self-end;
    color: green;
}   

.item-content-amount-Rashod {
    /* border: 1px solid red; */
    grid-row: 3/4;
    grid-column: 4/5;
    font-weight: bold;
    text-align: right;
    align-self: self-end;
    color: red;
}

.item-content-name {
    /* border: 1px solid red; */
    grid-row: 4/5;
    grid-column: 1/5;
    font-size: 0.8rem;
    font-style: italic;
}

.item-content-eventDate-text {
    /* border: 1px solid red; */
    grid-row: 5/6;
    grid-column: 1/2;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    align-self: center;
}

.item-content-eventDate {
    /* border: 1px solid red; */
    grid-row: 5/6;
    grid-column: 2/5;
    font-size: 0.8rem;
    text-align: right;
    align-self: center;
}

.item-content-paymentDate-text {
    /* border: 1px solid red; */
    grid-row: 6/7;
    grid-column: 1/2;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200;
    align-self: center;
}

.item-content-paymentDate {
    /* border: 1px solid red; */
    grid-row: 6/7;
    grid-column: 2/5;
    font-size: 0.8rem;
    text-align: right;
    align-self: center;
}

.item-content-edit {
    grid-row: 4/6;
    grid-column: 3/4;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
