<div class="floating-buttons-wrapper">
  <div class="floating-buttons-gradient"></div>
  <div class="floating-buttons-container">
		<%= link_to new_item_new_item_path("transfer"), class: "btn btn-transfer" do %>
			<i class="fa fa-money-bill-transfer"></i>
		<% end %>
		<%= link_to new_item_new_item_path("income"), class: "btn btn-income" do %>
			<i class="fa fa-dollar-sign"></i>
		<% end %>
		<%= link_to new_item_new_item_path("expense"), class: "btn btn-expense" do %>
			<i class="fa fa-arrow-trend-down"></i>
		<% end %>
	</div>
</div>